<div class="card-container" (click)="changeWord()">
    <div class="card">
        <div class="line"></div>
        <div class="word word1" [class.hidden]="word1Hidden">
            <span>{{ word.word }}<span *ngIf="showTranslation"> / {{ word.translation }}</span></span>
        </div>
        <div class="word word2" [class.hidden]="word2Hidden">
            <span>{{ word.word }}<span *ngIf="showTranslation"> / {{ word.translation }}</span></span>
        </div>

        <button class="btn" (click)="toggleTranslation($event)">
            {{ showTranslation ? 'Hide Translation' : 'Show Translation' }}
        </button>
    </div>
</div>